@media screen and (min-width: 1390px) {
	
	
	// header 
	
		

		
		header {
			background: transparent;
		}
		
		.header_left {
			background:$bluethree;
			position: relative;
			z-index:10;
			flex-basis:103px;
			transition: flex-basis 700ms cubic-bezier(.17,.66,.34,.98);
			.reg_state {
				transform: translateX(0);
				opacity: 1;
				transition: opacity 300ms linear, transform 700ms cubic-bezier(.17,.66,.34,.98);
			}
			.fixed_logo_animation {
				display: flex;
				transform: translateX(-200%);
				opacity: 0;
				transition: opacity 300ms linear, transform 700ms cubic-bezier(.17,.66,.34,.98);
				a {
					img.mobile {
						display: block;
						width:37px;
						height:37px;
					}
				}
			}
		}
		.header_middle {
			background:$bluethree;
			transform: translateX(0);
			transition: all 550ms ease-in-out; // slow return
			nav, a.phone {
				opacity: 1;
				transition: opacity 700ms cubic-bezier(.17,.66,.34,.98);
				transition-delay: 750ms;
				ul.menu {
					> li {
					}
				}
			}
		}
		.header_right {
			transform: translateX(0);
			transition: all 550ms ease-in-out; // slow return
			a {
				opacity: 1;
				transition: opacity 700ms cubic-bezier(.17,.66,.34,.98);
				transition-delay: 750ms;
			}
		}
		
		
		// fire header animaton on scroll
		

		header.visible {
			.header_left {
				flex-basis:142px;
				transition: all 700ms cubic-bezier(.17,.66,.34,.98);
				.reg_state {
					transform: translateX(-200%);
					opacity: 0;
					transition-delay: 0ms, 0ms;
				}
				.fixed_logo_animation {
					transform: translateX(0%);
					opacity: 1;
					transition-delay: 300ms, 300ms;
				}
			}
			.header_middle {
				transform: translateX(-2000px);
				transition: all 700ms ease-in-out;
				nav, a.phone {
					opacity: 0;
					transition: opacity 300ms cubic-bezier(.17,.66,.34,.98);
					transition-delay: 0ms;
					ul.menu {
						> li {
								
								
							 > a {
									
							 }
						}
					}
				}
			}
			.header_right {
				transform: translateX(-2000px);
				transition: all 700ms ease-in-out;
				a {
					opacity: 0;
					transition: opacity 300ms cubic-bezier(.17,.66,.34,.98);
					transition-delay: 0ms;
				}
			}
		}
		
		
		
		
		// open animation after scroll 
		
		
		header.visible.open_animation {
			.header_left {
				//flex-basis:382px;
				flex-basis:103px;
				.reg_state {
					transform: translateX(0%);
					opacity: 1;
					transition-delay: 0ms, 0ms;
				}
				.fixed_logo_animation {
					transform: translateX(-200%);
					opacity: 0;
					transition: opacity 300ms linear, transform 500ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			.header_middle {
				transform: translateX(0px);
				nav, a.phone {
					opacity: 1;
					transition: opacity 700ms cubic-bezier(.17,.66,.34,.98);
					transition-delay: 750ms;
				}
			}
			.header_right {
				transform: translateX(0);
				transition: all 700ms ease-in-out; // slow return
			a {
				opacity: 1;
				transition: opacity 700ms cubic-bezier(.17,.66,.34,.98);
				transition-delay: 750ms;
			}
		}
			
		}
		
	
	
	// section one
	
	
	#section_one {
		img.hero {
			transform: scale(1.15);
			transition: all 2000ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	.sec_one_inner {
		span.sec_one_title {
			transform: translateY(-65px);
			opacity: 0;
			transition: opacity 400ms linear, transform 2000ms  cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	.sec_one_col.one, .sec_one_col.two, .sec_one_col.three, .sec_one_col.four {
		opacity: 0;
		transition: opacity 550ms linear;
	}
	
	
	body.animation_ready {
		#section_one {
			img.hero {
				transform: scale(1);
				transition-delay: 100ms;
			}
		}
		.sec_one_inner {
			span.sec_one_title {
				transform: translateY(0);
				opacity: 1;
				transition-delay: 100ms;
			}
		}
		.sec_one_col.one, .sec_one_col.two, .sec_one_col.three, .sec_one_col.four {
			opacity: 1;
		}
		.sec_one_col.one {
			transition-delay: 1000ms;
		}
		.sec_one_col.two {
			transition-delay: 1100ms;
		}
		.sec_one_col.three {
			transition-delay: 1200ms;
		}
		.sec_one_col.four {
			transition-delay: 1300ms;
		}
	}
	
	
	
	
} /* Media Query */

@media screen and (min-width: 1670px) {
	
	
	.header_left {
		flex-basis:383px;
	}
	
	
	header.visible.open_animation {
		.header_left {
			flex-basis: 383px;
		}
   }
	
	
	
} /* Media Query */