header {
	width:100%;
	height:80px;
	background:$bluethree;
	display: flex;
	position: fixed;
	top:0;
	left:0;
	z-index:20;
}


.header_left {
	display: flex;
	align-items: center;
	height:100%;
	padding:0 0 0 38px;
	a {
		img {
			width:330px;
			height:26px;
			display: block;
		}
	}
}


.open_close_wrapper {
	position: relative;
	width:35px;
	height:100%;
}


.menu_wrapper {
	width:35px;
	cursor: pointer;
	display: none;
	position: absolute;
	top:27px;
	left:0;
	span {
		display: block;
		width:29px;
		height:3px;
		background: $red;
		margin-bottom:8px;
		&:nth-of-type(1), &:nth-of-type(3) {
			margin-left:6px;
		}
		&:last-of-type {
			margin-bottom:0;
		}
	}
}



.mobile_close {
	width:35px;
	height:35px;
	position: relative;
	position: absolute;
	top:22px;
	left:0;
	display: none;
	&:before, &:after {
		content:"";
		display: block;
		width:40px;
		height:3px;
		position: absolute;
		top:16px;
		left:-2px;
		background:$red;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}




.header_middle {
	flex-grow:1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right:44px;
	nav {
		flex-grow: 1;
		padding-right:30px;
		ul {
			list-style: none;
			margin:0;
			li {
				a {
					cursor: pointer;
				}
			}
		}
		ul.menu {
			display: flex;
			justify-content: flex-end;
			> li.current-menu-item {
				 > a {
					 	color:$red;
				 }
			}
			
			> li.menu-item-has-children.active {
					> a {
						color:$red;
						&:after {
								content:"-";
								color:$red;
								width:14px;
							}
					}
			}
			> li.menu-item-has-children {
					> a {
						&:hover {
							&:after {
								content:"-";
								color:$red;
								width:14px;
							}
						}
						&:after {
							content:"+";
							color:#fff;
							font-size:18px;
							font-family: $poppins;
							font-weight: 700;
							display: inline-block;
							margin:-2px 0px 0 4px;
							vertical-align: top;
							transition: all 200ms ease-in-out;
							width:14px;
						}
					}
				}
				> li.current-menu-ancestor {
					> a {
						color:$red;
						&:after {
							color:$red;
						}
					}
			}
			> li {
					text-transform: uppercase;
					font-family: $poppins;
					font-weight:900;
					font-size:14px;
					letter-spacing: 0.2em;
					margin:0 24px 0 0;
				 > a {
					 	color:#fff;
					 	text-decoration: none;
					 	transition: all 200ms ease-in-out;
					 	&:hover {
						 	color:$red;
					 	}
				 }
			}
		}
		ul.sub-menu {
			display: none;
		}
	}
	a.phone {
		color:$red;
		font-family: $poppins;
		font-weight:900;
		text-decoration: none;
		font-size:22px;
		letter-spacing: 0.1em;
	}
}




.header_right {
	flex-basis:420px;
	background:$red;
	transition: background 200ms ease-in-out;
	&:hover {
		background: $bluelight;
	}
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		text-decoration: none;
	}
	span.arrow {
		width:32px;
		height:32px;
		display: block;
		margin-right:17px;
		svg {
			width:32px;
			height:32px;
		}
	}
	span.contact_us {
		text-transform: uppercase;
		color:#fff;
		font-size:16px;
		letter-spacing: 0.5em;
		font-family: $poppins;
		font-weight:900;
	}
}



@media screen and (max-width: 1670px) {
	
	
.header_left {
	a {
		img {
			width:45px;
			height:45px;
			
		}
	}
}
	
	
} /* Media Query */




@media screen and (max-width: 1390px) {
	
	
	.header_left {
		padding: 0 25px;
		flex-basis: 142px;
		flex-shrink: 0;
		justify-content: space-between;
		a {
			img {
				width:38px;
				height:38px;
			}
		}
	}
	
	
	
	.menu_wrapper, .mobile_close {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: all 400ms ease-in-out;
	}
	
	
	
	.menu_wrapper.open, .mobile_close.open {
		opacity: 1;
		visibility: visible;
	}
	
	
	
	.header_middle {
		background:#fff;
		nav {
			display: none;
			position:fixed;
			top:80px;
			left:0;
			width:100%;
			height:100vh;
			background:$bluethree;
			text-align: left;
			overflow-y: scroll;
			padding:75px 95px 90px;
			-webkit-overflow-scrolling: touch;
			ul.menu {
				display: block;
				padding-bottom: 50px;
				> li.menu-item-has-children {
					  > a {
						  	&:after {
								  margin: -2px 0px 0 20px;
						  	}
						  	&:hover {
							  	&:after {
								  	content:"+";
								  	color:#fff;
							  	}
						  	}
					  }
					  > a.open {
						  &:after {
									content:"-";
									color:$red;
								}
					  }
				}
				> li {
						> a {
							display: block;
							padding-bottom:42px;
							&:hover {
								color:#fff;
							}
							
						}
						> a.open {
								color:$red;
						}
						> ul.sub-menu {
								border-top:1px solid #43495d;
								padding:53px 0;
								display: none;
								> li.menu-item-779 {
										> ul.sub-menu {
												column-count:2;
												column-gap:70px;
										}
								}
								> li {
									margin-bottom:50px;
									&:last-of-type {
										margin-bottom:0px;
									}
									> a {
										 	font-size:17px;
										 	color:$red;
									 }
									 > ul.sub-menu {
										 	border-bottom:1px solid #43495d;
										 	padding:27px 0;
										 	//margin-bottom:50px;
										 	li.current_page_item {
											 	a {
												 	color:$red;
											 	}
										 	}
										 	li {
											 	text-transform: none;
											 	margin-bottom:17px;
											 	a {
												 	font-weight: 400;
												 	letter-spacing: 0;
												 	text-decoration: none;
												 	font-size:17px;
												 	color:#fff;
												 	line-height: 28px;
											 	}
										 	}
									 }
								}
						}
				}
			}
			ul.sub-menu {
				display: block;
			}
		}
	}
	
	
	
	body:not(.page-template-template-home) {
		.header_middle {
			background:$bluethree;
			transition: background 300ms ease-in-out;
		}
		.header_middle.white_bg {
			background:#fff;
		}
	}
	
	
	body.page-template-template-home {
		.header_middle {
			border-bottom: 1px solid #ebebeb;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (min-width: 1390px) {
	
	
	.header_middle nav ul.sub-menu {
		display: none !important;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.header_right {
		flex-basis:335px;
		span.contact_us {
			font-size:16px;
			letter-spacing: 0.25em;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 835px) {
	
	
	.header_middle {
		justify-content: center;
		padding-right:0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	header {
		flex-wrap:wrap;
		height:76px;
	}
	
	
	.header_left, .header_middle {
		height:76px;
	}
	
	.header_right {
		flex-basis:100%;
		height: 82px;
		opacity: 1;
		visibility: visible;
		transition: all 300ms ease-in-out;
		span.arrow {
			margin-right: 33px;
		}
	}
	
	
	.header_right.hide {
		opacity: 0;
		visibility: hidden;
	}
	
	
	body:not(.page-template-template-home) {
		.header_middle {
			background:#fff;
		}
	}
	
	
	.header_middle {
		border-bottom: 1px solid #ebebeb;
		nav {
			padding: 47px 47px 90px;
			top: 76px;
			ul.menu {
				> li {
						> a {
							padding-bottom: 40px;
						}
						> ul.sub-menu {
								padding: 0px 0;
								border:none;
								> li.menu-item-has-children {
										> a {
											&:after {
												content:"+";
												margin-left:12px;
												font-weight:700;
											}
										}
										> a.open {
											&:after {
												content:"-";
											}
										}
								}
								> li {
									  margin-bottom: 0px;
									  &:last-of-type {
										  > a {
											  	margin-bottom:40px;
										  }
									  }
									  > a {
										  margin-bottom:24px;
										  display: block;
											
									  }
									  > ul.sub-menu {
												border-bottom: none;
												padding: 0 0 32px;
												display: none;
												li {
													
												}
									}
								}
								> li.menu-item-779 {
									> ul.sub-menu {
										column-count:1;
										
									}
								}
						}
				}
			}
		}
	}
	

	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 370px) {
	
	
	
	.header_left {
		flex-basis: 114px;
		padding: 0 16px;
	}
	
	
	
} /* Media Query */