header {
	width:100%;
	height:80px;
	background:$bluethree;
	display: flex;
	position: fixed;
	top:0;
	left:0;
	z-index:20;
}


.header_left {
	display: flex;
	align-items: center;
	height:100%;
	padding:0 0 0 38px;
	a {
		img {
			width:330px;
			height:26px;
			display: block;
		}
	}
}

.menu_wrapper {
	width:35px;
	display: none;
	span {
		display: block;
		width:29px;
		height:3px;
		background: $red;
		margin-bottom:8px;
		&:nth-of-type(1), &:nth-of-type(3) {
			margin-left:6px;
		}
		&:last-of-type {
			margin-bottom:0;
		}
	}
}




.header_middle {
	flex-grow:1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right:44px;
	nav {
		flex-grow: 1;
		padding-right:30px;
		ul {
			list-style: none;
			margin:0;
			li {
				a {
					cursor: pointer;
				}
			}
		}
		ul.menu {
			display: flex;
			justify-content: flex-end;
			> li.menu-item-has-children {
					> a {
						&:hover {
							&:after {
								content:"-";
								color:$red;
							}
						}
						&:after {
							content:"+";
							color:#fff;
							font-size:18px;
							font-family: $poppins;
							font-weight: 700;
							display: inline-block;
							margin:-2px 0px 0 4px;
							vertical-align: top;
							transition: all 200ms ease-in-out;
						}
					}
				}
			> li {
					text-transform: uppercase;
					font-family: $poppins;
					font-weight:900;
					font-size:14px;
					letter-spacing: 0.2em;
					margin:0 24px 0 0;
				 > a {
					 	color:#fff;
					 	text-decoration: none;
					 	transition: all 200ms ease-in-out;
					 	&:hover {
						 	color:$red;
					 	}
				 }
			}
		}
		ul.sub-menu {
			display: none;
		}
	}
	a.phone {
		color:$red;
		font-family: $poppins;
		font-weight:900;
		text-decoration: none;
		font-size:22px;
		letter-spacing: 0.1em;
	}
}




.header_right {
	flex-basis:420px;
	background:$red;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		text-decoration: none;
	}
	span.arrow {
		width:32px;
		height:32px;
		display: block;
		margin-right:17px;
		svg {
			width:32px;
			height:32px;
		}
	}
	span.contact_us {
		text-transform: uppercase;
		color:#fff;
		font-size:16px;
		letter-spacing: 0.5em;
		font-family: $poppins;
		font-weight:900;
	}
}



@media screen and (max-width: 1670px) {
	
	
.header_left {
	a {
		img {
			width:45px;
			height:45px;
			
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	.header_left {
		padding: 0 25px;
		flex-basis: 142px;
		flex-shrink: 0;
		justify-content: space-between;
		a {
			img {
				width:38px;
				height:38px;
			}
		}
	}
	
	
	
	.menu_wrapper {
		display: block;
	}
	
	
	
	.header_middle {
		background:#fff;
		nav {
			display: none;
		}
	}
	
	
	
	body:not(.page-template-template-home) {
		.header_middle {
			background:$bluethree;
		}
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	
	.header_right {
		flex-basis:335px;
		span.contact_us {
			font-size:16px;
			letter-spacing: 0.25em;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 835px) {
	
	
	.header_middle {
		justify-content: center;
		padding-right:0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	
	header {
		flex-wrap:wrap;
		height:auto;
	}
	
	
	.header_left, .header_middle {
		height:76px;
	}
	
	.header_right {
		flex-basis:100%;
		height: 82px;
		span.arrow {
			margin-right: 33px;
		}
	}
	
	body:not(.page-template-template-home) {
		.header_middle {
			background:#fff;
		}
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 370px) {
	
	
	
	.header_left {
		flex-basis: 114px;
		padding: 0 16px;
	}
	
	
	
} /* Media Query */