.video_wrapper {
	padding:125px 0 0;
	max-width: 1440px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	z-index:1;
}


.dot_vector.video_center_vector {
	top:105px;
	img {
		width:2000px;
		height:862px;
		left:-70px;
	}
}


.video_grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:75px 0 0;
	margin-bottom:-55px;
	&:after {
		content:"";
		flex-basis: 31%;
		display: block;
	}
}


.single_video_wrapper {
	flex-basis: 31%;
	height:435px;
	cursor: pointer;
	margin-bottom:55px;
	&:hover {
		.my_video_thumb {
			.my_wistia_overlay {
				svg#play_button {
					.play_button-cls-1 {
						fill: $bluelight;
  				}
				}
			}
		}
	}
	.my_video_thumb {
		width:100%;
		height:300px;
		position: relative;
		.my_wistia_video {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.my_wistia_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:1;
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			svg#play_button {
				width:88px;
				height:88px;
			}
		}
	}
	h2 {
		font-family: $poppins;
		font-weight: 700;
		font-size:26px;
		line-height: 38px;
		margin-top:31px;
	}
}



@media screen and (min-width: 1920px) {
	
	
	
.dot_vector.video_center_vector {
	img {
		width:105%;
		height:auto;
	}
}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	
	
.dot_vector.video_center_vector {
	top: 148px;
	img {
		width:1600px;
		height:706px;
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1210px) {
	

	
	.video_grid {
		&:after {
			flex-basis:48%;
		}
	}
	
	.single_video_wrapper {
		flex-basis:48%;
	}
	

	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
		.video_grid {
			padding: 45px 0 0;
		}
	
	
		.video_wrapper {
			padding-top:0;	
		}
		
		.dot_vector.video_center_vector {
			top: 20px;
			img {
				width:1400px;
				height:618px;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.single_video_wrapper {
		margin-bottom: 55px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 830px) {
	
	
	
	.video_grid {
		display: block;
		max-width:500px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	.single_video_wrapper {
		height: auto;
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.video_grid {
    padding: 30px 0 0;
	}
	
	
	.single_video_wrapper {
		h2 {
			margin-top: 19px;
			font-size: 24px;
			line-height: 36px;
		}
	}
	
	
	.dot_vector.video_center_vector {
		display: none;
	}
	
	
} /* Media Query */