
.case_results_wrapper {
	margin:98px 0 0;
	text-align: center;
}

.cr_badge {
	margin-bottom:35px;
	svg#badge {
		width:157px;
		height:130px;
		.badge-st0{
			fill:#20273f;
		}
	}
}



.cr_dropdown_container {
	padding-top:15px;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	max-width:880px;
}



.cr_dropdown {
	flex-basis:48.5%;
	cursor: pointer;
	position: relative;
}


.cr_input {
	display: flex;
	position: relative;
	z-index: 1;
	height:76px;
	max-width:425px;
	margin-lefT:auto;
	margin-right:auto;
	.cr_input_left {
		background:#f7f7f8;
		border-top:1px solid #7f8393;
		border-left:1px solid #7f8393;
		border-bottom:1px solid #7f8393;
		padding:28px 30px 28px;
		overflow: hidden;
		width:calc(100% - 70px);
		white-space: nowrap;
		span {
			font-family: $poppins;
			font-weight: 700;
			font-size:15px;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			line-height: 18px;
			display: block;
			text-align: left;
		}
	}
	.cr_input_right {
		width:70px;
		flex-shrink: 0;
		background: $red;
		display: flex;
		justify-content: center;
		align-items: center;
		svg#blue_arrow {
			width:21px;
			height:21px;
			.blue_arrow-st0{
				fill:#fff;
			}
		}
	}
}


.cr_list {
	background:#f7f7f8;
	border:1px solid #7f8393;
	position: absolute;
	top: 75px;
	left:1px;
	width:calc(100% - 2px);
	padding:0 30px 10px;
	display: none;
	ul {
		list-style: none;
		padding-top:25px;
		li {
			text-align: left;
			font-family: $poppins;
			font-weight: 700;
			font-size:15px;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			line-height: 18px;
			margin-bottom:15px;
			color:#000;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$red;
			}
		}
	}
}


.case_results_feed {
	max-width:1130px;
	margin:71px auto 0;
}


.single_case_result {
	&:last-of-type {
		a {
			border:none;
		}
	}
	a {
		display: flex;
		justify-content: space-between;
		text-decoration: none;
		border-bottom:1px solid #ebebeb;
		padding-top:65px;
		padding-bottom:46px;
		.single_case_left {
			span {
				text-transform: uppercase;
				color:$red;
				font-family: $poppins;
				font-weight:900;
				font-size:22px;
				letter-spacing: 0.2em;
				line-height: 25px;
				display: block;
				text-align: left;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
		}
		.single_case_right {
			margin-left:20px;
			svg#arrow {
				transform: rotate(180deg);
				.arrow-st0{
					fill:$red;
				}
				.arrow-st1{
					fill:$red;
				}
			}
		}
	}
}


span.cr_testimonial_header {
	color:$bluelight;
	font-family: $poppins;
	font-weight: 900;
	text-transform: uppercase;
	font-size:20px;
	letter-spacing: 0.5em;
	display: block;
	padding:28px 0 15px;
}



@media screen and (max-width: 1175px) {
	
	
	.case_results_wrapper {
		margin-top:0;
	}
	
	
} /* Media Query */



@media screen and (max-width: 975px) {
	
	
	.cr_dropdown_container {
		display: block;
		max-width: 530px;
	}
	
	.cr_input {
		margin-bottom:20px;
	}
	
	
	.cr_dropdown_left {
		z-index:2;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.cr_badge {
		margin-bottom: 6px;
		svg#badge {
			width: 130px;
			height: 110px;
		}
	}
	
	.case_results_feed {
   	margin: 30px auto 0;
	}
	
	
	.single_case_result {
		a {
			padding-top: 48px;
			padding-bottom: 36px;
			.single_case_left {
				span {
					
				}
			}
		}
	} 	
} /* Media Query */