#internal_main {
	margin-top:80px;
	padding-bottom:185px;
	overflow:hidden;
}



.internal_banner {
	width:100%;
	height:480px;
	position: relative;
	img {
		object-fit:cover;
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
	}
	.banner_inner {
		position: relative;
		z-index:1;
		display: flex;
		align-items: center;
		height: 100%;
		span.banner_header {
			color:#fff;
			font-family: $martel;
			font-size:60px;
			line-height: 75px;
			max-width:1000px;
			display: block;
			padding-left:155px;
			position: relative;
			&:before {
				content:"";
				display: block;
				width:133px;
				height:6px;
				background: $red;
				position: absolute;
				top:36px;
				left:0;
			}
			strong {
				color:$red;
				font-weight:400;
			}
		}
	}
}



.outer_container {
	 min-height: 450px;
	 padding-left:125px;
	 padding-right:125px;
	 position: relative;
}


.two_col {
	display: flex;
	max-width: 1559px;
	margin:93px auto 0;
}



.sidebar_wrapper {
	flex-basis:393px;
	flex-shrink:0;
	.sidebar {
		background:$grey;
		padding:70px 40px 85px;
	}
	ul {
		li {
			list-style: none;
			font-family: $poppins;
			a {
				display: block;
			}
		}
	}
	ul.menu {
		max-width: 262px;
		margin-left:auto;
		margin-right:auto;
		> li {
				text-transform: uppercase;
				font-weight: 900;
				font-size:17px;
				letter-spacing: 0.15em;
				line-height: 24px;
				&:last-of-type {
					ul.sub-menu {
						margin-bottom:0;
					}
				}
			 > a {
				 	color:$red;
				 	margin-bottom: 23px;
			 }
		}
	}
	ul.sub-menu {
			margin-bottom: 58px;
		> li.current-menu-item {
			a {
				color:$red;
			}
				
		}
		> li {
				font-weight: 400;
				text-transform: none;
				letter-spacing: 0;
				font-size:17px;
				line-height: 28px;
				margin-bottom:10px;
				&:last-of-type {
					margin-bottom:0;
				}
				a {
				 color:#000;
				 text-decoration: none;
				 transition: all 200ms ease-in-out;
				 &:hover {
					 color:$red;
				 }
				}
			}
		}
	}
	
	
	.inner_container {
		flex-grow:1;
		padding-left:7%;
	}
	
	
	.wistia_video_two_wrapper {
		position: relative;
		z-index:1;
		background: $red;
		color:#fff;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
		font-family: $poppins;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.3em;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover {
	    background:$bluelight;
    }
    .wistia_video_two_overlay {
	    position: absolute;
	    width:100%;
	    height:100%;
	    top:0;
	    left:0;
    }
    span.wistia_video_two {
	    display: block;
	    padding: 16px 35px;
	    &:after {
		    content:"View Our Services Video";
	    }
    }
	}
	
	
	@media screen and (max-width: 1450px) {
		
		
		
.internal_banner {
	
	img {
		
	}
	.banner_inner {
		
		span.banner_header {
			padding-left: 95px;
			&:before {
				width: 79px;
			}
			strong {
				
			}
		}
	}
}



.outer_container {
	padding-left:90px;
	padding-right:90px;
}
		
	
	} /* Media Query */
	
	
	@media screen and (max-width: 1250px) {
		
		
		
		.sidebar_wrapper {
    	flex-basis: 353px;
   }
		
		
		
		
	} /* Media Query */
	
	
	
	
	
	@media screen and (max-width: 1175px) {
		
		
		.two_col {
			flex-direction: column;
			margin-top:0;
		}
		
		
		.inner_container {
			order:1;
			flex-basis:auto;
			padding-left:0;
		}
		
		.sidebar_wrapper {
			order:2;
			flex-basis:auto;
			margin-top:30px;
			.sidebar {
				padding: 49px 40px;
			}
			ul.menu {
				max-width:100%;
			}
		}
		
		
		#internal_main {
			padding-bottom: 100px;
			padding-top:70px;
		}
		
		
		.internal_banner {
			display: none;
		}
		
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 1066px) {
		
		
		
		body:not(.page-template-template-home) {
			.content {
				h1 {
					font-size:60px;
					line-height: 85px;
					padding-bottom: 16px;
				}
			}
		}
		
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 767px) {
		
		
		body:not(.page-template-template-home) {
			.content {
				h1 {
					font-size:39px;
					line-height: 55px;
					padding-bottom: 11px;
				}
			}
		}
		
		
		#internal_main {
			margin-top: 158px;
			padding-top: 49px;
			padding-bottom: 53px;
		}
		
		
		.outer_container {
    	padding-left: 46px;
			padding-right: 46px;
		}
		
		
		.sidebar_wrapper {
			margin-top: 5px;
		}
		
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 490px) {
		
		
		
		
	.wistia_video_two_wrapper {
    span.wistia_video_two {
	    &:after {
		    content:"View Our Video";
	    }
    }
	}
		
		
		
		
		
	} /* Media Query */