#internal_main {
	margin-top:80px;
	padding-bottom:185px;
}



.internal_banner {
	width:100%;
	height:480px;
	position: relative;
	img {
		object-fit:cover;
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
	}
	.banner_inner {
		position: relative;
		z-index:1;
		display: flex;
		align-items: center;
		height: 100%;
		span.banner_header {
			color:#fff;
			font-family: $martel;
			font-size:60px;
			line-height: 75px;
			max-width:1000px;
			display: block;
			padding-left:155px;
			position: relative;
			&:before {
				content:"";
				display: block;
				width:133px;
				height:6px;
				background: $red;
				position: absolute;
				top:36px;
				left:0;
			}
			strong {
				color:$red;
				font-weight:400;
			}
		}
	}
}



.outer_container {
	 min-height: 450px;
}


.two_col {
	display: flex;
	max-width: 1559px;
	margin:93px auto 0;
}



.sidebar_wrapper {
	flex-basis:393px;
	flex-shrink:0;
	.sidebar {
		background:$grey;
		padding:70px 40px 85px;
	}
	ul {
		li {
			list-style: none;
			font-family: $poppins;
			a {
				display: block;
			}
		}
	}
	ul.menu {
		max-width: 262px;
		margin-left:auto;
		margin-right:auto;
		> li {
				text-transform: uppercase;
				font-weight: 900;
				font-size:17px;
				letter-spacing: 0.15em;
				line-height: 24px;
				&:last-of-type {
					ul.sub-menu {
						margin-bottom:0;
					}
				}
			 > a {
				 	color:$red;
				 	margin-bottom: 23px;
			 }
		}
	}
	ul.sub-menu {
			margin-bottom: 58px;
		> li {
				font-weight: 400;
				text-transform: none;
				letter-spacing: 0;
				font-size:17px;
				line-height: 28px;
				margin-bottom:10px;
				&:last-of-type {
					margin-bottom:0;
				}
				a {
				 color:#000;
				 text-decoration: none;
				}
			}
		}
	}
	
	
	.inner_container {
		flex-grow:1;
		padding-left:7%;
	}