#section_four {
	position: relative;
	overflow: hidden;
	span.animated_title {
		position: absolute;
	}
}


span.adapt_title {
	top:100px;
	right: -331px;
}


.sec_four_content {
	display: flex;
	max-width:1600px;
	margin-left:auto;
	margin-right:auto;
}


span.lead_title {
	top:745px;
	left:2%;
}


.sec_four_left {
	flex-basis: 793px;
	flex-shrink:0;
	padding-left:10%;
	padding-top:230px;
	h1 {
		font-family: $exo;
		font-weight:700;
		font-size:105px;
		line-height: 122px;
		color:$red;
	
	}
}


.sec_four_right {
	flex-grow:1;
	padding-left:7%;
	padding-top:431px;
}

.sec_four_logos_wrapper {
	max-width: 1510px;
	margin:60px auto 300px;
}

.sec_four_title_wrapper {
	span.sec_four_title {
		text-transform: uppercase;
		color:$bluelight;
		font-family: $poppins;
		font-weight: 900;
		font-size:20px;
		letter-spacing: 0.5em;
		display: block;
		text-align: right;
		position: relative;
		margin-right:30px;
		&:after {
			content:"";
			position: absolute;
			top:10px;
			right:-102%;
			width:100%;
			height:1px;
			display: block;
			background: $bluelight;
		}
	}
}


.sec_four_logos {
	display: flex;
	flex-wrap:wrap;
	margin:85px 0px 0px;
	.sec_four_single_logo {
		//flex-basis:calc(20% - 40px);
		flex-basis:20%;
		display: flex;
		justify-content: center;
		//justify-content: flex-end;
		align-items: center;
		height:140px;
		margin:0 0px 65px;
		img {
			display: block;
			max-width:100%;
			height:auto;
			
		}
	}
}


@media screen and (max-width: 1700px) {
	
	
	.sec_four_left {
		padding-left: 5%;
		padding-top: 234px;
	}
	
	
	.sec_four_right {
		padding-left: 3%;
		padding-right:5%;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1550px) {
	
	
	.sec_four_logos_wrapper {
		padding-left:45px;
		padding-right:45px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	.sec_four_left {
		flex-basis:50%;
		padding-left: 10%;
		h1 {
			font-size:85px;
			line-height: 100px;
		}
	}
	
	
	.sec_four_right {
		flex-basis:50%;
		padding-top: 415px;
		padding-left:0;
		padding-right: 90px;
	}
	
	
	span.adapt_title {
    top: 83px;
    right: -303px;
  }
  
  
  span.lead_title {
    top: 735px;
    left: 11px;
  }
  
  
  
  .sec_four_logos {
	  margin-left:auto;
	  margin-right:auto;
	  max-width: 1228px;
	  .sec_four_single_logo {
		  img {
			  width:100%;
			  max-width:165px;
		  }
	  }
  }
  
  
  .sec_four_title_wrapper {
	  span.sec_four_title {
		  &:after {
			  right:-100.5%;
		  }
	  }
  }
  
  
 

	
} /* Media Query */

@media screen and (max-width: 1398px) {
	
	
	span.adapt_title {
		right:30px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1290px) {
	
	
	
	.sec_four_left {
		padding-left: 5%;
	}
	
	
	span.lead_title {
		//left:-140px;
	}
	
	
} /* Media Query */




@media screen and (max-width: 1175px) {
	
	
	.sec_four_content {
		flex-direction: column;
		padding:122px 97px 0;
		max-width: 100%;
	}
	
	
	.sec_four_left {
		flex-basis:auto;
		padding: 0;
		h1 {
			line-height: 90px;
			max-width: 680px;
		}
	}
	
	
	.sec_four_right {
		flex-basis:auto;
		padding:0;
		margin-top:58px;
	}
	
	
	span.adapt_title, span.lead_title {
    display: none;
  }
  
  

	
	
	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	.sec_four_left {
		h1 {
			max-width: 530px;
		}
	}
	
	
	
	.sec_four_logos_wrapper {
   	margin: 82px auto 160px;
  }
  
  
  .sec_four_logos {
	  max-width: 855px;
	  .slick-dots {
	  	bottom: 0px;
	  	li.slick-active {
	  		button {
	  			&:before {
	  				color:$red;
	  			}
	  		}
	  	}
	  	li:hover {
	  		button {
	  			&:before {
	  				color:$red;
	  			}
	  		}
	  	}
	  	li {
	  		margin:0;
	  		width:20px;
	  		button {
	  			width:20px;
	  			&:before {
	  				width:20px;
	  				opacity: 1;
	  				color: $bluetwo;
	  				font-size:32px;
	  			}
	  		}
	  	}
	  }
	  .sec_four_single_logo {
		  height: 76px;
		  margin: 0 0px 85px;
		  img {
			  margin-left:auto;
			  margin-right:auto;
		  }
	  }
  }

	
	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	.sec_four_content {
		padding: 82px 46px 0;
	}
	
	.sec_four_left {
		h1 {
			font-size: 55px;
			line-height: 65px;
		}
	}
	
	
	.sec_four_right {
		margin-top: 43px;
		margin-bottom:30px;
	}
	
	.sec_four_logos_wrapper {
		display: none;
	}
	
	
	
} /* Media Query */