#section_two {
	overflow: hidden;
	padding-bottom:70px;
	position: relative;
}



.dot_vector.sec_two_vector {
	top:-550px;
	z-index:-1;
	img {
		width:2016px;
		height:874px;
		left:-30px;
	}
}

.sec_two_content_top {
	max-width:1310px;
	margin:0 auto;
	display: flex;
}


.sec_two_header_left {
	flex-basis:642px;
	flex-shrink:0;
	margin-top:210px;
	span {
		color:$red;
		font-family: $exo;
		font-weight:700;
		font-size:70px;
		line-height: 95px;
		display: block;
	}
}

.sec_two_content_right {
	margin-top:376px;
	padding-left:10%;
}



.our_services_wrapper {
	position: relative;
	
	
}


span.animated_title {
	font-family: $poppins;
	font-weight:900;
	display: block;
	font-size:260px;
	letter-spacing: 0.08em;
	color:#012349;
	opacity: 0.05;
	text-transform: uppercase;
}


span.learn_title {
	margin-left:2%;
	margin-top:-55px;
}

span.our_services_title {
	text-transform: uppercase;
	color:$bluelight;
	font-family: $poppins;
	font-weight:900;
	font-size:20px;
	letter-spacing: 0.5em;
	display: block;
	text-align: right;
	position: relative;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:1px;
		background: $bluelight;
		position: absolute;
		top:9px;
		right:-101%;
	}
}


.our_services_inner {
	max-width:1415px;
	margin: -111px auto 0;
}


.our_services_boxes {
	display: flex;
	justify-content: space-between;
	margin:77px 0 0;
	position: relative;
	z-index:1;
}


.our_services_single_box {
	flex-basis:31.9%;
	position: relative;
	transform: translateY(0px);
	transition: transform 900ms cubic-bezier(.17,.66,.34,.98);
	&:hover {
		transform: translateY(-75px);
		.services_box_reg {
			.services_bar {
				opacity: 0;
				visibility: hidden;
			}
		}
		.services_box_hover {
			a {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}



.services_box_reg {
	position: relative;
	img {
		width: 100%;
		height:100%;
		display: block;
		object-fit:cover;
	}
	.services_bar {
		width:100%;
		height:138px;
		position: absolute;
		bottom:0;
		left:0;
		background:rgba(20, 27,53, 0.8);
		display: flex;
		opacity: 1;
		visibility: visible;
		transition: all 200ms ease-in-out;
		span {
			flex-grow:1;
			color:#fff;
			text-transform: uppercase;
			font-family: $poppins;
			font-weight:900;
			font-size:24px;
			letter-spacing: 0.4em;
			display: flex;
			align-items: center;
			padding:0px 0px 0 51px;
		}
		.red_bar {
			flex-basis:85px;
			flex-shrink:0;
			background:$red;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

@media screen and (min-width: 1925px) {
	
	
.dot_vector.sec_two_vector {
	top:-550px;
	z-index:-1;
	img {
		width:100%;
		height:auto;
		left:0px;
	}
}
	
	
	
} /* Media Query */


.services_box_hover {
	a {
		text-decoration: none;
		display: block;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(190,30,45,0.93);
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: all 350ms ease-in-out;	
	}
	span.services_hover_title {
		color:#fff;
		font-family: $exo;
		font-weight:700;
		font-size:48px;
		margin-top:126px;
		display: block;
		&:after {
			content:"";
			width:90px;
			height:4px;
			background: #fff;
			margin:35px auto 0;
			display: block;
		}
	}
	ul {
		list-style: none;
		margin:43px 0 0;
		li {
			color:#fff;
			font-family: $poppins;
			font-size:18px;
			line-height: 26px;
			margin-bottom: 13px;
		}
	}
	.learn_more_wrapper {
		position: absolute;
		bottom:78px;
		left:0;
		width:100%;
		span.learn_more {
			color:#fff;
			display: inline-block;
			text-transform: uppercase;
			font-family: $poppins;
			font-weight:900;
			letter-spacing: 0.5em;
			font-size:16px;
			border:1px solid #fff;
			padding:29px 45px;
		}
	}
}


.grow_title_wrapper {
	width:100%;
	text-align: center;
}


span.grow_title {
	margin-top:20px;
	display: block;
	//margin-right:-215px;
	//text-align: right;
}



@media screen and (max-width: 1650px) {
	
	
	
	
	.sec_two_content_top {
		padding-left:144px;
		padding-right:108px;
		max-width:100%;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1575px) {
	
	
	.our_services_wrapper {
		padding-left:75px;
		padding-right:75px;
	}
	
	
	span.our_services_title {
		margin-right:-20px;
		&:after {
		  right: -100%;
	  }
	}
	
	
	span.learn_title {
		margin-top: -36px;
		//margin-left: -148px;
	}
	
	
	.our_services_inner {
    margin: -90px auto 0;
  }
  
  
  span.animated_title {
	  font-size: 220px;
	  
  }
  
  
  .services_box_reg {
	  .services_bar {
		  span {
			  padding: 0px 0px 0 28px;
		  }
	  }
  }
	
	
	.services_box_hover {
		span.services_hover_title  {
			margin-top: 102px;
		}
		ul {
			margin: 35px 0 0;
		}
		.learn_more_wrapper {
			bottom: 64px;
		}
	}
	
	
/*
	span.grow_title {
		margin-right: -175px;
	}
*/
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
.sec_two_header_left {
	flex-basis: 555px;
	margin-top: 255px;
	span {
		font-size:60px;
		line-height: 85px;
	}
}


.sec_two_content_right {
  padding-left: 5%;
}


.dot_vector.sec_two_vector {
	top: -432px;
	img {
		width: 1726px;
		height:761px;
	}
}

.our_services_wrapper {
	padding-top:45px;
}
	
	
} /* Media Query */



@media screen and (max-width: 1398px) {
	
	
	span.grow_title {
    margin-right: 0%
	}
	
	
	span.learn_title {
		margin-left: 3%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1355px) {
	

	
	.services_box_reg {
		.services_bar {
			span {
				font-size: 21px;
				
			}
		}
	}
	
	
	.services_box_hover {
		span.services_hover_title {
    	margin-top: 68px;
		}
	}
	
	
		
	
} /* Media Query */



@media screen and (max-width: 1315px) {
	
	
	span.animated_title {
    font-size: 200px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1290px) {
	
	
	.sec_two_content_top {
		padding-left:99px;
		padding-right:99px;
	}
	
	
	
	span.learn_title {
		//margin-left: -258px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1265px) {
	
	
	#section_two {
		padding-bottom:87px;
	}
	
	
	.our_services_boxes {
		display: block;
		max-width:600px;
		margin-left:auto;
		margin-right:auto;
		
		.slick-dots {
			bottom: -30px;
			li.slick-active {
				button {
					&:before {
						color:$red;
					}
				}
			}
			li:hover {
				button {
					&:before {
						color:$red;
					}
				}
			}
			li {
				margin:0;
				width:16px;
				button {
					width:16px;
					&:before {
						width:16px;
						opacity: 1;
						color: $bluethree;
						font-size:32px;
					}
				}
			}
		}
	}
	
	
	.our_services_single_box {
		flex-basis:48%;
		margin-bottom:35px;
		&:hover {
			transform: translateY(0px);
		}
	}
	
	.services_box_hover {
		span.services_hover_title {
			margin-top: 235px;
		}
	}
	
	    
	
	.our_services_inner {
    margin-top: 74px;
	}
	
	
	
	
	.our_services_single_box.tablet {
		&:hover {
			transform: translateY(0);
			.services_box_reg {
				.services_bar {
					opacity: 1;
					visibility: visible;
				}
			}
			.services_box_hover {
				a {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		.services_box_hover {
			a {
				opacity: 0;
				visibility: hidden;
			}
		}
}
	
	
		
	
	
	.our_services_single_box.tablet.open {
		.services_box_reg {
			.services_bar {
				opacity: 0;
				visibility: hidden;		
			}
			}
		.services_box_hover {
			a {
				opacity: 1;
				visibility: visible;
				padding:0 25px;
			}
		}
	}
		
	
	
	
} /* Media Query */



@media screen and (max-width: 1175px) {
	
	.sec_two_content_top {
		display: block;
	}
	
	.sec_two_header_left {
		margin-top: 165px;
	}
	
	
	.sec_two_content_right {
		padding-left:0;
		margin-top:49px;
	}
	
	
	.our_services_wrapper {
		padding-left:80px;
		padding-right:80px;
	}
	
	
	
	span.learn_title, span.grow_title {
		display: none;
	}
	
	
	span.our_services_title {
    margin-right:0px;
    &:after {
	    right:-101%;
    }
	}
	
	.our_services_single_box {
		flex-basis:49%;
		margin-bottom:20px;
	}
	
	.our_services_boxes {
    margin: 71px auto 0;
	}
	
	
.dot_vector.sec_two_vector {
	top: -280px;
	img {
		width: 1174px;
		height:518px;
	}
}
	
	
	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 885px) {
	
	
	
	
	.our_services_single_box {
		margin-bottom:14px;
	}
	
	.services_box_reg {
		.services_bar {
			height: 106px;
			span {
				font-size:18px;
				padding: 0px 0px 0 28px;
			}
			.red_bar {
				flex-basis:73px;
				svg {
					width:30px;
					height:30px;
				}
			}
		}
	}
	
	
	
	
	.services_box_hover {
		ul {
			li {
				margin-bottom: 8px;
			}
		}
		span.services_hover_title {
			font-size: 37px;
			&:after {
				margin: 17px auto 0;
			}
		}
		.learn_more_wrapper {
			span.learn_more {
				padding: 25px 30px;
			}
		}
	}
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 800px) {
	
	
	
	.our_services_boxes {
		max-width: 510px;
	}
	    
	
	.services_box_hover {
		span.services_hover_title {
			margin-top: 200px;
		}
	}
	
	
	
	.services_box_reg {
		.services_bar {
			span {
				letter-spacing: 0.2em;
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
#section_two {
	padding-bottom: 100px;
}

.sec_two_content_top {
	padding-left:49px;
	padding-right:49px;
}

	
.sec_two_header_left {
	margin-top: 81px;
	span {
		font-size:39px;
		line-height: 55px;
	}
}



.sec_two_content_right {
	margin-top: 33px;
}
	
	
	.our_services_boxes {
		display: block;
		max-width: 420px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.services_box_hover {
		span.services_hover_title {
			margin-top: 105px
		}
		.learn_more_wrapper {
			bottom: 42px;
		}
	}
	

	span.our_services_title {
		text-align: left;
		position: relative;
		z-index:5;
		display: block;
		&:before {
			content:"";
			width:275px;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			background:#fff;
			z-index:-1;
			display: block;
		}
		&:after {
			content:"";
			right:-50px;
			top:-10px;
			position: relative;
			z-index:-2;
			display: block;
		}
	}
	
	
	
	.our_services_wrapper {
		padding-left: 49px;
    padding-right: 49px;
	}
	
	.our_services_inner {
    margin-top: 57px;
	}
	
	
	.our_services_boxes {
    margin: 33px auto 0;
	}
	
	
	.our_services_single_box {
    margin-bottom: 19px;
}
	
	
	.services_box_reg {
		.services_bar {
			height: 113px;
			span {
				font-size:19px;
				letter-spacing: 0.4em;
			}
		}
	}
	
	

	
	
	
	.dot_vector.sec_two_vector {
		display: none;
	}
	    
	
	
} /* Media Query */




@media screen and (max-width: 480px) {
	
	    
	    
	    .services_box_hover {
		    span.services_hover_title {
			    margin-top: 16%;
			    font-size: 28px;
		    }
	    }
	    
	    
	    
	.services_box_hover {
		span.services_hover_title {
			
		}
		.learn_more_wrapper {
			padding: 0 25px;
			span.learn_more {
				width:100%;
				padding-left:0;
				padding-right:0;
			}
		}
	}

	    
	    
	    
	
	
	
} /* Media Query */




@media screen and (max-width: 450px) {
	
	.services_box_reg {
		height: 520px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 413px) {
	
	
	.services_box_reg {
		.services_bar {
			span {
				letter-spacing: 0.2em;
			}
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 395px) {
	
	
	.services_box_reg {
		.services_bar {
			span {
				font-size:16px;
				padding: 0px 0px 0 17px;
			}
		}
	}
	
	
	
} /* Media Query */