#section_three {
	padding:0 0 0 155px;
	position: relative;
}


.dot_vector.sec_three_vector {
	top:590px;
	img {
		width:2050px;
		left:-50px;
	}
}



.sec_three_inner {
	width:100%;
	background: $bluegrad;
	height:980px;
	
}

.sec_three_content {
	display: flex;
	position: relative;
	z-index: 1;
}

.sec_three_left {
	padding:150px 0 0;
	width:50%;
	padding-left:13%;
	svg#badge {
		width:170px;
		height:145px;
		margin:10px 0 0 0;
		.badge-st0{
			fill:$red;
		}
	}
}


.sec_three_video_wrapper {
	display: flex;
	align-items: flex-end;
	.sec_three_video_inner {
		max-width:313px;
		position: relative;
		margin-right:30px;
		img {
			width:100%;
			height:auto;
			display: block;
		}
		.sec_three_video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width:85px;
				height:85px;
			}
		}
	}
	span.click_play {
		color:$red;
		text-transform: uppercase;
		font-family: $poppins;
		font-weight: 900;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.3em;
	}
}



span.sec_three_learn_title {
	display: block;
	color:#fff;
	text-transform: uppercase;
	font-size:143px;
	line-height: 134px;
	letter-spacing: 0.16em;
	font-family: $exo;
	font-weight:700;
	margin:42px 0 0 0;
}




.sec_three_right {
	width:50%;
	padding-left: 7%;
	margin:103px 0 0 0;
	.testi_wrapper {
		display: flex;
		width:500px;
		float:right;
		span.testi_title {
			color:$bluelight;
			text-transform: uppercase;
			font-family: $poppins;
			font-weight:900;
			font-size:20px;
			letter-spacing: 0.5em;
		}
		span.testi_line {
			display: block;
			width:100%;
			height:1px;
			background: $bluelight;
			margin:9px 0 0 30px;
		}
	}
}


.sec_three_slider {
	clear:both;
	max-width: 786px;
	margin-top:45px;
	position: relative;
	.slick-dots {
		bottom: auto;
		top:258px;
		right:70px;
		width:15px;
		li.slick-active {
			button {
				&:before {
					color:$red;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$red;;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			button {
				width:16px;
				padding:0;
				&:before {
					width:16px;
					opacity: 1;
					color: #fff;
					font-size:32px;
				}
			}
		}
	}
}

.sec_three_single_slide {
	height:690px;
	.sec_three_inner_slide {
		display: flex;
		max-width:490px;
		flex-direction: column;
		justify-content: center;
		height:100%;
		span.sec_three_slide_content {
			display: block;
			color:#fff;
			font-family: $martel;
			font-size:26px;
			line-height: 48px;
		}
		span.sec_three_slide_name {
			display: block;
			text-transform: uppercase;
			color:$bluelight;
			font-family: $poppins;
			font-weight: 900;
			font-size:14px;
			line-height: 23px;
			letter-spacing: 0.3em;
			margin-top:35px;
			max-width: 290px;
		}
	}
}



@media screen and (min-width: 1920px) {
	
	
.dot_vector.sec_three_vector {
	top:590px;;
	img {
		width: 105%;
		
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1700px) {
	
	
	
	.sec_three_left {
		padding-left: 9%;
	}
	
	.sec_three_right {
		padding-left: 4%;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1565px) {
	
	
	.sec_three_left {
		padding-left: 5%;
	}
	   
	
	
} /* Media Query */



@media screen and (max-width: 1485px) {
	
	#section_three {
		padding: 0 0 0 64px;
	}
	
	.sec_three_left {
		padding-top: 91px;
		padding-left: 84px;
		svg#badge {
			margin: 30px 0 0 0;
		}
	}
	
	
	span.sec_three_learn_title {
		font-size: 120px;
		letter-spacing: 0.16em;
		line-height: 125px;
		margin: 39px 0 0 0;
	}
	
	
	
	.sec_three_inner {
		height: 900px;
	}
	
	
	.sec_three_right {
		margin: 89px 0 0 0;
		.testi_wrapper {
			width: 324px;
			span.testi_line {
				margin: 9px 0 0 5px;
			}
		}
	}
	
	
	.sec_three_single_slide {
    height: 603px;
	}
	
	
	.sec_three_slider {
		.slick-dots {
			right: 33px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	
.dot_vector.sec_three_vector {
	top:555px;
	img {
		width: 1650px;
		left:-150px;
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	.sec_three_left {
   	padding-left: 52px;
  }
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	#section_three {
		padding:0;
	}
	
	.sec_three_content {
		flex-direction: column;
	}
	
	
	.sec_three_inner {
		height:auto;
	}
	
	.sec_three_left {
		width:100%;
		padding-top: 113px;
		max-width: 483px;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		height: 970px;
		svg#badge {
			margin: 205px 0 0 0;
		}
	}
	
	span.sec_three_learn_title {
		max-width: 550px;
		margin: 48px 0 0 0;
	}
	
	
	.sec_three_right {
		width:100%;
		margin-top:0;
		padding:0 0 120px 0;
		.testi_wrapper {
			margin-top:-87px;
			span.testi_title {
				
			}
		}
	}
	
	
	.sec_three_slider {
		max-width: 470px;
		margin-top:25px;
		margin-left:auto;
		margin-right:auto;
		.slick-dots {
			right: -85px;
			top:77px;
		}
	}
	
	
	.sec_three_single_slide {
		height:auto;
		.sec_three_inner_slide {
			max-width:100%;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.sec_three_left {
		display: flex;
		flex-direction: column;
		height:auto;
		padding-top:85px;
		padding-left:45px;
		padding-right:45px;
		svg#badge {
			order:1;
			margin-top:0;
			width:130px;
			height:104px;
		}
	}
	
	
	
	.sec_three_video_wrapper {
		order:3;
		margin-top: 29px;
		flex-direction: column;
		align-items: flex-start;
		span.click_play {
			margin-top:20px;
		}
		.sec_three_video_inner {
			margin-right:0;	
		}
	}
	
	
	span.sec_three_learn_title {
		order:2;
		font-size:70px;
		line-height: 75px;
		letter-spacing: 0.16em;
		margin: 25px 0 0 0;
	}
	
	
 .sec_three_right {
	 margin-top: 161px;
	 padding-bottom:155px;
	 overflow: hidden;
	 .testi_wrapper {
		 margin-top:0;
		 float:none;
		 width:auto;
		 padding-left:46px;
		 max-width: 492px;
		 margin-left:auto;
		 margin-right:auto;
		 display: block;
		 span.testi_title {
			 width:290px;
		 }
		 span.testi_line {
			 width: 170%;
			 margin-left:290px;
			 margin-top:-12px;
		 }
	 }
 }
 
 
 .sec_three_slider {
	 margin-top: 77px;
	 padding-left:46px;
	 padding-right:46px;
	 max-width: 492px;
	 .slick-dots {
		 top:auto;
		 bottom:-77px;
		 left: 41px;
		 width:auto;
		 text-align: left;
		 right:auto;
	 }
 }
	
.sec_three_single_slide {
	.sec_three_inner_slide {
		span.sec_three_slide_name {
			margin-top: 29px;
		}
	}
} 
	
	
 
	
	
} /* Media Query */

